@model Practice5_Model.Models.Inventory

@{
	var title = "Create Inventory";
}

<form method="post">
	<div class="row p-3 border">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Inventory_Id" />
		@if (Model.Inventory_Id != 0)
		{
			title = "Edit Inventory";
		}
		<div class="col-12 border-bottom">
			<h2 class="text-primary">@title</h2>
		</div>
		<div class="col-8 pt-4">
			<div class="form-group row py-2">
				<div class="col-4">
					<label asp-for="Product_Id"></label>
				</div>
				<div class="col-8">
					<input asp-for="Product_Id" class="form-control" />
					<span asp-validation-for="Product_Id" class="text-danger"></span>
				</div>
				<div class="col-4">
					<label asp-for="Stock"></label>
				</div>
				<div class="col-8">
					<input asp-for="Stock" class="form-control" />
					<span asp-validation-for="Stock" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-4 offset-4">
					@if (Model.Inventory_Id != 0)
					{
									<button type="submit" class="btn btn-primary form-control">Update</button>
					}
					else
					{
									<button type="submit" class="btn btn-primary form-control">Create</button>
					}
				</div>
				<div class="col-4">
					<a asp-action="Index" class="btn btn-success form-control">Back to List</a>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
				<partial name="_ValidationScriptsPartial" />
}
